<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talabalar</title>
</head>
<body>
    <h1>Talaba qo'shish</h1>
    <form method="post" action="/talabalar/">{% csrf_token %}
        {{forma.as_p}}
        <button type="submit">Qo'shish</button>

    </form>
    <br><br><hr>
    <h2>Talabalarni qidirish</h2>

    <form action="/talabalar/" method="GET" >{% csrf_token %}
        <input type="text" name="qidirish" >
        <button type="submit">Qidirish</button>

  </form>
    <hr>
    <h2>Barcha talabalar</h2>

    <hr>

    {% for i in talabalar_ismlar %}
    <h3>{{i.id}}. <a href="/talaba/{{i.id}}/">{{i.ism}}</a></h3>
    {% endfor %}
    <br>
    <br>
    <hr>




</body>
</html>