<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tanlangan kitob malumoti</title>
</head>
<body>

  <h1>Kitob malumotlarini📚 tahrirlash</h1>
  <hr>
    <br>
    <form method="post">{% csrf_token %}
        <label>Nom: </label>
        <input type="text" name="n" value="{{kitob.nom}}">
        <br>
        <br>
        <label>sahifa: </label>
        <input type="number" name="s" value="{{kitob.sahifa}}">
        <br>
        <br>
        <label>Janr: </label>
        <select name="j">
            <option value="Badiiy">Badiiy</option>
            <option value="Ilmiy">Ilmiy</option>
            <option value="hujjatli">hujjatli</option>
        </select>
        <br><br>
        <select name="m">
            <option value="{{kitob.muallif.id}}">{{kitob.muallif.ism}}</option>
            {% for i in mualliff %}
                {% if i.id != kitob.muallif.id %}
            <option value="{{i.id}}">{{i.ism}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <button type="submit">Yangilash</button>
        <a href="/kitoblar/"><button>Orqaga</button></a>
    </form>
  <button type="submit"><a href="/kitob_ochir/{{kitob.id}}/">O'chirish</a></button>


</body>
</html>